*.bak
*.gem
*.dump
*.egg
*.egg-info
*.ids
*.log*
*.orig
*.out
*.pyc
*.vpp~*
*.working
*_old
*_storm.py
*metadata.json
*~
*~
.*.swo
.*.swp
.DS_Store
._*
.chef*
.coverage
.idea
.vagrant
Thumbs.db
atlassian-ide-plugin.xml
build
celery_statedb
celerybeat-schedule*
core
dist
fab.log
Gemfile.lock
htmlcov
local_celeryconfig.py
local_keys.py
local_settings.py
local_template.py
logs
logs/*
metadata.json
out
output.xml
test-result*.xml
test-results
tmp/
user.json
.bundle
coverage/

